:root {
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-style: normal;
    font-size: 17px;
    color: var(--theme-font-color);
    background-color: #fff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

:root {
    --theme-color: #5d26bd;
    --theme-color-hover: #ccccd6;
    --theme-font-color: #000000E0;
    --left-background: #fbfbfd;
    --theme-divider: #d1d1d6;
    --right-background-hover: #d1d1d6;
    --left-background-hover: #e6e6eb;
    --code-background: #f0f2f4;
}

body, #app {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
}


/* 通用滚动条样式 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent;
}

/* 白天模式下的滚动条样式 */
@media (prefers-color-scheme: light) {
    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3); /* 半透明灰色 */
        border-radius: 4px;
        border: 2px solid transparent; /* 透明边框，使滚动条更细 */
        background-clip: padding-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.5); /* 鼠标悬停时稍微加深颜色 */
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-color: #8560ac;
        --theme-font-color: #fff;
        --left-background: #202023;
        --right-background-hover: #3c3c3e;
        --left-background-hover: #343437;
        --code-background: #29292CFF;

    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3); /* 半透明白色 */
        border-radius: 4px;
        border: 2px solid transparent;
        background-clip: padding-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 0.5); /* 鼠标悬停时稍微加深颜色 */
    }

    :root {
        background-color: hsl(240, 3.4%, 11.4%);
    }
}